openapi: 3.2.0
info:
  title: Vestaron Content API (WordPress REST wp/v2) Search API
  version: wp/v2
  summary: 'Public read surface of vestaron.com content: news releases, articles, recognitions and video/podcast posts, product and company pages, the media library (product labels, safety data sheets, technical bulletins), taxonomies and a site-wide search endpoint.'
  description: 'Vestaron publishes vestaron.com on WordPress, which exposes the WordPress REST API at https://vestaron.com/wp-json/. The wp/v2 namespace is anonymously readable and returns the company newsroom (94 posts across the News, Articles, Recognitions and Video/Podcasts categories), 34 product and company pages, an 829-item media library and a site-wide search endpoint as JSON.


    This document was DERIVED mechanically by API Evangelist from the route-discovery document served at https://vestaron.com/wp-json/ on 2026-08-05 — every path, method, parameter, enum, default and description below is taken verbatim from that descriptor. Vestaron does not publish an OpenAPI definition of its own, and this is not a product API: it is the content API the CMS exposes. Write operations exist on these routes but require authentication; the /wp/v2/users and /wp/v2/settings collections return 401 to anonymous callers.'
  contact:
    name: Vestaron
    url: https://vestaron.com/contact/
  x-derived-by: API Evangelist enrichment pipeline
  x-derived-from: https://vestaron.com/wp-json/
  x-derived-on: '2026-08-05'
  x-provider-published: false
servers:
- url: https://vestaron.com/wp-json
  description: Production
security:
- {}
- applicationPassword: []
tags:
- name: Search
paths:
  /wp/v2/search:
    get:
      operationId: getSearch
      summary: GET /wp/v2/search
      tags:
      - Search
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: type
        in: query
        required: false
        schema:
          type: string
          enum:
          - post
          - term
          - post-format
          default: post
        description: Limit results to items of an object type.
      - name: subtype
        in: query
        required: false
        schema:
          type: array
          default: any
          items:
            type: string
            enum:
            - post
            - page
            - category
            - post_tag
            - any
        description: Limit results to items of one or more object subtypes.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-evidence:
        fetched: '2026-08-05'
        http_status: 200
        anonymous_read: true
        x_wp_total: 128
components:
  responses:
    NotFound:
      description: No route or resource matched (rest_no_route, rest_post_invalid_id).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WpError'
    BadRequest:
      description: Invalid parameter (rest_invalid_param).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WpError'
    Unauthorized:
      description: Authentication required or insufficient capability (rest_forbidden). Observed on /wp/v2/users and /wp/v2/settings.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WpError'
  schemas:
    WpError:
      type: object
      description: The WordPress REST API error envelope returned on every 4xx/5xx.
      properties:
        code:
          type: string
          description: Machine-readable error slug, e.g. rest_forbidden, rest_post_invalid_id, rest_invalid_param.
        message:
          type: string
          description: Human-readable message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: HTTP status code, repeated in the body.
            params:
              type: object
              description: Per-parameter validation messages (rest_invalid_param only).
      required:
      - code
      - message
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress Application Passwords over HTTP Basic. The application-password routes are registered on vestaron.com (/wp/v2/users/{user_id}/application-passwords), but the site's route-discovery document reports an empty "authentication" object, so no authentication scheme is advertised for discovery. Read operations on wp/v2 content collections are anonymous.
